.top-product {
  color: var(--mysell-red);
}
.product-info {
  max-height: 60%;
  overflow-y: auto;
}
.product-sale {
  font-size: 0.9rem;
  display: flex;
  padding: 0.4rem;
  gap: 0.4rem;
}
.product-sales {
  margin-left: auto;
}
h3 {
  text-align: center;
}
