<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal-dialog">
    <button class="close-button" (click)="closeModal()">x</button>

    <div class="modal-header">
      <h2>Adicionar novo produto</h2>
    </div>

    <div class="modal-body">
      <div class="form-row">
        <input
          type="text"
          placeholder="Nome"
          [(ngModel)]="product.name"
          class="input-full"
        />
      </div>
      <div class="form-row">
        <input
          type="text"
          placeholder="Marca"
          [(ngModel)]="product.brand"
          class="input-half"
        />
        <div class="category-select">
          <img src="assets/svg/categories-icon.svg" alt="" />
          <div class="category-input">
            <input
              type="text"
              placeholder="Categoria"
              [(ngModel)]="categorySearch"
              (input)="filterCategories()"
              (focus)="showDropdown = true"
              (blur)="hideDropdown()"
              class="input-with-icon"
            />

            <span class="dropdown-icon">▼</span>

            <ul
              class="dropdown"
              *ngIf="showDropdown && filteredCategories.length > 0"
            >
              <li
                *ngFor="let category of filteredCategories"
                (mousedown)="selectCategory(category)"
              >
                <div class="categories-icons">
                  <img src="{{ category.pathSvg }}" alt="" />
                </div>
                {{ category.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-row">
        <input
          type="text"
          placeholder="Preço comprado"
          [ngModel]="purchasePriceModel"
          (ngModelChange)="onPurchasePriceChange($event)"
          mask="separator.2"
          thousandSeparator="."
          decimalMarker=","
          prefix="R$ "
          class="input-half"
        />

        <input
          type="text"
          placeholder="Preço a vender"
          [ngModel]="sellingPriceModel"
          (ngModelChange)="onSellingPriceChange($event)"
          mask="separator.2"
          thousandSeparator="."
          decimalMarker=","
          prefix="R$ "
          class="input-half"
        />
      </div>

      <div class="form-row">
        <input
          type="text"
          placeholder="Quantidade"
          [ngModel]="quantityModel"
          (ngModelChange)="onQuantityChange($event)"
          class="input-half"
        />

        <div class="measure-select">
          <div class="measure-input">
            <input
              type="text"
              [(ngModel)]="measureSearch"
              (input)="filterMeasures()"
              (focus)="showMeasureDropdown = true"
              (blur)="hideMeasureDropdown()"
              class="input-with-icon"
            />

            <ul
              class="dropdown-measure"
              *ngIf="showMeasureDropdown && filteredMeasures.length > 0"
            >
              <li
                *ngFor="let measure of filteredMeasures"
                (mousedown)="selectMeasure(measure)"
              >
                {{ measure }}
              </li>
            </ul>
          </div>
          <img src="assets/svg/ruler-icon.svg" alt="ícone medida" />
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="confirm-button" (click)="confirmProduct()">
        Confirmar
      </button>
    </div>
  </div>
</div>
