<div class="content">
  <ng-container *ngIf="products && products.length > 0; else noProducts">
    <div class="chart-container">
      <canvas #chartCanvas></canvas>
    </div>
    <div class="info-icon">
      <button (click)="expandInfo()" *ngIf="!isExpanded">
        <img src="assets/svg/info.svg" alt="Abrir informações" />
      </button>
    </div>
    <div class="back-button">
      <button (click)="closeInfo()" *ngIf="isExpanded">
        <img src="assets/svg/arrow.svg" alt="Voltar" />
      </button>
    </div>
  </ng-container>

  <ng-template #noProducts>
    <p class="no-products">Nenhum dado disponível para o gráfico.</p>
  </ng-template>
</div>
