.confirm-pop-up-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  border-bottom: 1px solid var(--text-gray);
  color: var(--text-gray);
  margin-bottom: 1rem;
}

.confirm-pop-up {
  min-width: 250px;

  margin: 4rem;
  position: relative;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.confirm-button {
  background-color: var(--mysell-red);
  width: 100%;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 999px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirm-button:hover {
  background-color: var(--mysell-red);
}

.close-button {
  position: absolute;
  top: 2px;
  right: 2px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--text-gray);
  cursor: pointer;
}
.selected-products {
  padding-bottom: 1rem;
  max-height: 350px;
  position: relative;
  overflow-y: auto;
}
.product {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
}
.product-name {
  text-align: left;
  font-weight: 500;
  color: var(--text-gray);
}
.product-quantity {
  text-align: left;
  font-weight: 500;
  color: var(--text-gray);
}
.product-price {
  position: absolute;
  right: 0;
  text-align: right;
  font-weight: 500;
  color: var(--mysell-red);
}
.total {
  display: flex;
  position: relative;
  display: flex;
  padding-bottom: 1rem;
}
.total-price {
  position: absolute;
  right: 0;
  text-align: right;
  font-weight: 500;
  color: var(--mysell-red);
  font-size: 1.2rem;
}
