<app-arrow [direction]="'right'" [pageToGo]="'/email-validation'" *ngIf="emailToValidate"></app-arrow>

<app-auth-form
  [title]="'Registro'"
  [buttonText]="'Continuar'"
  [fields]="[
    { name: 'email', label: 'Email', placeholder: '', type: 'email', validators: [] },
    { name: 'password', label: 'Senha', placeholder: '', type: 'password', validators: [] },
    { name: 'confirmPassword', label: 'Confirmar Senha', placeholder: '', type: 'password', validators: [] }
]"
  (formSubmitted)="onRegister($event)"
  [textGoogleButton]="'Registrar com Google'"
  (googleButtonClicked)="onGoogleRegister()"
  [textFacebookButton]="'Registrar com Facebook'"
  (facebookButtonClicked)="onFacebookRegister()"
  [textFooter]="'Já possui uma conta?'"
  [textLink]="'Faça login'"
  [link]="'/login'"
  >
  
</app-auth-form>

<app-message-per-request [errorMessage]="(errorMessage$ | async) ?? ''" [successMessage]="(successMessage$ | async) ?? ''"></app-message-per-request>
<app-loading-sppiner [isLoading]="isLoading"></app-loading-sppiner>

