// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --mysell-red: #e86868;
  --mysell-dark-red: #dd4242d5;
  --light-gray: #fafafa;
  --medium-gray: #d9d9d9;
  --dark-gray: #858585;
  --fine-gray: #25252560;
  --text-gray: #606060;
  --overlay-red-opacity: rgba(139, 81, 81, 0.6);
  --white: #ffffff;
}
