// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    --mysell-red:#E86868; 
    --light-gray: #FAFAFA;
    --medium-gray: #D9D9D9;
    --text-gray: #606060;
    --overlay-red-opacity: rgba(139, 31, 31, 0.25);
    --white: #ffffff;
}
