<app-loading-sppiner [isLoading]="isLoading"></app-loading-sppiner>
<main>
  <nav>
    <div class="itens">
      <app-arrow [direction]="'left'" [pageToGo]="'/home'"></app-arrow>
      <app-home-redirect></app-home-redirect>
    </div>
  </nav>
  <h1>Vender</h1>

  <app-search-bar
    [placeholder]="'Buscar produtos'"
    (searchChange)="onSearchChange($event)"
  ></app-search-bar>

  <app-products-to-sell
    (hasAnyItemSelected)="hasAnyItemSelected = $event"
    (selectedProducts)="onProductSelection($event)"
    [searchTerm]="searchTerm"
  ></app-products-to-sell>
  <br /><br />
  <br /><br />
  <br /><br />
  <br /><br />
  <app-confirm-button
    *ngIf="hasAnyItemSelected"
    [position]="'right'"
    (confirm)="showConfirmPopup()"
  ></app-confirm-button>
</main>

<app-message-per-request
  [errorMessage]="(errorMessage$ | async) ?? ''"
  [successMessage]="(successMessage$ | async) ?? ''"
></app-message-per-request>
<app-confirm-sell-pop-up
  [isActive]="confirmPopupVisible"
  [selectedProducts]="selectedProducts"
  (closeButtonEvent)="closeConfirmPopup()"
  (confirm)="confirmSell()"
></app-confirm-sell-pop-up>
