.arrow {
    transition: transform 0.3s ease-in-out;
    position: absolute; 
    top: 5rem;         
  }
  
  .arrow-right {
    right: 2rem;
    transform: rotate(180deg);
  }
  
  .arrow-left {
    left: 2rem;
    transform: rotate(0deg);
  }
  button {
    background-color: transparent;
    border: none;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  
  /* Estado :active para melhorar a UX */
  button:active {
    transform: scale(0.95); /* Efeito de "pressionar" o botão */
  }
  

  