<ion-app>
  <app-menu-bar></app-menu-bar>

  <div class="ion-page" id="main-content">
    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circles">
        </ion-refresher-content>
      </ion-refresher>
      <app-home-nav></app-home-nav>
      <app-sells-profit-info></app-sells-profit-info>
      <app-home-actions-carrousel
        [actions]="[
          { svgPath: 'assets/svg/sell.svg', label: 'Vender', route: '/sell', cssClass: 'primary' },
          { svgPath: 'assets/svg/product-svgrepo-com.svg', label: 'Seus produtos', route: '/your-products' },
          { svgPath: 'assets/svg/add-product.svg', label: 'Add. produto', route: '/create-products' },
          { svgPath: 'assets/svg/history.svg', label: 'Histórico', route: '/history' },
          { svgPath: 'assets/svg/analytics.svg', label: 'Análise', route: '/analytics' }
        ]"
      ></app-home-actions-carrousel>
      <app-home-last-sells></app-home-last-sells>
    </ion-content>
  </div>
</ion-app>
