<div class="text-content">
    <h1>Verificação</h1>
    <h3>Enviamos um código de verificação para o email: <span>{{email}}</span></h3>
</div>
<app-code-squares (submitCode)="getCode($event)"></app-code-squares>
<div class="resend-code">
    <a href=" {{sendCodeLink}}">Reenviar código</a>
</div>
<app-message-per-request [errorMessage]="(errorMessage$ | async) ?? ''" [successMessage]="(successMessage$ | async) ?? ''"></app-message-per-request>
<app-loading-sppiner [isLoading]="isLoading"></app-loading-sppiner>