<div class="text-content">
    <h1>Verificação</h1>
    <h3>Enviamos um código de verificação para o email: </h3>
</div>
<div class="email">
    <span>{{email}}</span>
</div>
<div class="timer" *ngIf="countdown > 0">
    <p>O código expira em: <span>{{countdown}}</span></p>
</div>
<div class="expired-message" *ngIf="countdown === 0">
    <p>O código expirou. Por favor, solicite um novo código.</p>
</div>
<app-code-squares (submitCode)="getCode($event)"></app-code-squares>
<div class="resend-code" >
    <button
    [disabled]=" countdown > 0"
    (click)="resendCode()"
    >Reenviar código</button>
</div>
<app-message-per-request [errorMessage]="(errorMessage$ | async) ?? ''" [successMessage]="(successMessage$ | async) ?? ''"></app-message-per-request>
<app-loading-sppiner [isLoading]="isLoading"></app-loading-sppiner>