.text-content{
    margin: 6rem 5rem 0rem 5rem;
}

h1{
    text-align: center;
    font-weight: 300;
}
h3{
    margin: 1rem;
    font-weight: 400;
}
.resend-code{
    margin: 3rem;
    font-weight: 400;
    text-align: center;
}
a{
    color: var(--mysell-red);
}
.email{
    
    font-weight: 400;
    text-align: center;
    margin-bottom: 3rem;
    
}
span{
    color: var(--mysell-red);
}
.timer{
    font-weight: 400;
    text-align: center;
    margin-bottom: 3rem;
}

