main {
  background-color: var(--mysell-red);
  display: flex;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 1rem;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
