main {
  height: 50vh;
  background-color: #ececec;
  border-radius: 10px;
  display: flex;
}
.content {
  margin: 1rem;
  height: 100%;
  width: 100%;
}
.info-blocks {
  height: 20%;
  display: flex;
  gap: 5%;
}
.profit,
.sales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-gray);
  text-align: center;
  width: 50%;
  padding: 1rem;
  background-color: var(--medium-gray);
  border-radius: 10px;
  span {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.ranking-graph {
  display: flex;
}

.ranking {
  display: flex;
  flex-direction: column;
  height: 32vh;
  width: 50%;
  margin-top: 1rem;
}

.ranking-header {
  h3 {
    text-align: center;
  }
  flex-shrink: 0;
  padding: 0.5rem;
}

.ranking-scroll {
  overflow: auto;
  flex-grow: 1;
}

.pizza-graph {
  height: 32vh;
  width: 50%;
  margin-top: 1rem;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
}
.expanded-graph {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
  width: 100%;
  height: 100%;
  overflow: auto;
}
