<main>
  <div class="content" *ngIf="!isExpanded">
    <div class="info-blocks">
      <div class="profit">
        <h3>Lucro</h3>
        <span>{{ profit | currency : "BRL" : "symbol" : "1.2-2" }}</span>
      </div>
      <div class="sales">
        <h3>Vendas</h3>
        <span>{{ sales }}</span>
      </div>
    </div>
    <div class="ranking-graph">
      <div class="ranking">
        <div class="ranking-header">
          <h3>Mais vendidos</h3>
        </div>
        <div class="ranking-scroll">
          <app-product-ranking
            [productRanking]="productRanking"
          ></app-product-ranking>
        </div>
      </div>

      <div class="pizza-graph">
        <app-pizza-graph (expand)="expandGraph()"></app-pizza-graph>
      </div>
    </div>
  </div>
  <div class="expanded-graph" *ngIf="isExpanded">
    <app-pizza-graph [isExpanded]="true"></app-pizza-graph>
  </div>
</main>
