<nav>
  <div class="itens">
    <app-arrow
      [direction]="'left'"
      [pageToGo]="'/edit-available-products'"
    ></app-arrow>
    <app-home-redirect></app-home-redirect>
  </div>
</nav>
<main>
  <h1>Adicionar Produtos</h1>
  <app-proguess-bar [progress]="currentProgressValue"></app-proguess-bar>
  <div class="selected-products">
    <h3>Produtos selecionados</h3>
    <hr />

    <div class="list-container">
      <div class="item" *ngFor="let product of selectedProducts">
        <img
          [src]="getCategoryIconUrl(product.category)"
          alt="{{ product.name }}"
          class="icon"
        />
        <span class="name">{{ product.name }}</span>
        <button
          class="remove-btn"
          (click)="openProductExclusionConfirmation(product.id)"
        >
          ✕
        </button>
      </div>
    </div>
  </div>
  <app-bottom-arrow
    [direction]="'left'"
    (arrowClick)="navigateBack()"
  ></app-bottom-arrow>
  <app-confirm-button [position]="'right'"></app-confirm-button>
</main>
<app-confirm-pop-up
  [firstMessage]="'Deseja excluir esse item?'"
  [secondMessage]="'A exclusão removerá o produto da lista de adição.'"
  [isActive]="isConfirmationPopupActive"
  (closeButtonEvent)="closeConfirmationPopup()"
  (confirm)="handleProductExclusionConfirmation()"
  [id]="productIdToExclude"
></app-confirm-pop-up>
