.arrow-right {
  right: 1rem;
  transform: rotate(180deg);
}

.arrow-left {
  left: 1rem;
  transform: rotate(0deg);
}
.bottom-arrow {
  transition: transform 0.3s ease-in-out;
  position: absolute;
  bottom: 4rem;
}
button {
  padding: 0.75rem;
  border: none;
  background-color: var(--mysell-red);
  border-radius: 10px;
}
