<div class="background-image"></div>
<div class="content-space">
  <div class="content-padding">
    <header>
      <h2>{{ title }}</h2>
    </header>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      
      <div class="inputs-container">
        <ng-container *ngFor="let field of fields">
          <div class="form-item">
            <label>{{ field.label }}</label>
            <div class="input-wrapper" *ngIf="field.type === 'password'; else regularInput">
              <div *ngIf="form.get('confirmPassword')?.errors?.['passwordMismatch'] && form.get('confirmPassword')?.touched">
                <h6 class="error-text">As senhas não coincidem.</h6>
              </div>
              <input
                [formControlName]="field.name"
                [type]="showPassword[field.name] ? 'text' : 'password'"
                [placeholder]="field.placeholder">
                <app-eye-svg
                [isEyeOpen]="showPassword[field.name]"
                (toggle)="togglePasswordVisibility(field.name)">
              </app-eye-svg>
            </div>
            <!-- Regular input for non-password fields -->
            <ng-template #regularInput>
              <input
                [formControlName]="field.name"
                [type]="field.type"
                [placeholder]="field.placeholder">
            </ng-template>
          </div>
        </ng-container>
      </div>
      
      <div class="button-container">
        <button expand="block" type="submit" [disabled]="form.invalid">
          {{ buttonText }}
        </button>
      </div>
    </form>
    <app-social-media-buttons
    [textGoogleButton]="textGoogleButton"
    (googleEvent)="googleEvent()"
    [textFacebookButton]="textFacebookButton"
    (facebookEvent)="facebookEvent()"
    ></app-social-media-buttons>
    <footer>
      <p>
        {{ textFooter }}
        <a href="{{ link }}" (click)="handleFooterClick()">{{ textLink }}</a>
      </p>
    </footer>
  </div>
</div>