
/* Background Image */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35vh;
    background-image: url('../../../assets/images/background-auth-form.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    z-index: -1;
  }
  
  .background-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-red-opacity);
    z-index: 1;
  }
  
  /* Layout de Conteúdo */
  .content-space {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--white);
    border-top-left-radius: 100px;
    height: fit-content;
    max-height: 80%;
    min-height: 70%;
  }
  
  .content-padding {
    padding: 5rem;
  }
  
  /* Cabeçalho e Títulos */
  h2 {
    text-align: center;
    font-size: 5vh;
    font-weight: 300;
  }
  
  /* Formulário */
  label {
    font-size: 2.5vh;
    font-weight: 200;
    text-align: left;
    padding: 1rem;
  }
  
  .inputs-container {
    padding: 2rem 0 0rem 0;
  }
  
  .form-item {
    padding-bottom: 2rem;
  }
  
  input {
    font-size: 2.5vh;
    text-align: left;
    background-color: var(--light-gray);
    width: 100%;
    height: 6%;
    border: none;
    border-bottom: 2px solid var(--medium-gray);
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  input:focus {
    outline: none;
    border-color: var(--mysell-red);
    background-color: var(--white);
    outline: none;
  }
  
  /* Botão Principal */
  .button-container {
    border-bottom: 1px solid var(--medium-gray);
    padding-bottom: 2rem;
  }
  
  button {
    background-color: var(--mysell-red);
    border-radius: 10px;
    width: 100%;
    height: 8vh;
    font-size: 3.125vh;
    border: none;
    color: var(--white);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  button:active {
    background-color: var(--mysell-dark-red);
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
  
  
  
  /* Botões de Redes Sociais */
  .social-media-buttons {
    padding-top: 2rem;
  }
  
  .social-button-container {
    padding-bottom: 1.5rem;
  }
  
  .social-button {
    height: 5vh;
    background-color: var(--medium-gray);
    border-radius: 10px;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 4vmin;
    border: none;
    color: var(--text-gray);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  /* Efeito visual ao pressionar no celular */
  .social-button:active {
    background-color: var(--light-gray);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }
  
  
  /* Ícone + texto */
  .icon-and-text {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  
  .icon-container svg {
    padding-right: 2rem;
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
  }
  
  /* Animação sutil no ícone ao tocar */
  .social-button:active .icon-container svg {
    transform: scale(1.1);
  }
  
  
  /* Rodapé */
  footer {
    text-align: center;
    font-size: 4vmin;
    padding-bottom: 5rem;
  }
  
  a {
    color: var(--mysell-red);
  }
  a {
    color: var(--mysell-red);
    position: relative;
    text-decoration: none;
  }
  
  a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--mysell-red);
    left: 0;
    bottom: -2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  a:active::after {
    transform: scaleX(1);
  }
  
  /* Para dispositivos médios (361px a 768px de largura) */
@media (min-width: 361px) and (max-width: 768px) {
    .content-padding {
      padding: 3rem;
    }
    h2 {
      font-size: 4.5vh;
    }
    label,
    input {
      font-size: 2.2vh;
    }
    button {
      height: 7.5vh;
      font-size: 2.8vh;
    }
    .social-button {
      height: 4.8vh;
      font-size: 3.75vmin;
    }
    footer {
      font-size: 3.75vmin;
    }
  }
 /* Password Field Styles */
.input-wrapper {
  position: relative;
  width: 100%;
}

