<div class="product-list-container">
  <div class="product-list-header">
    <h2 class="product-list-title">Produtos disponíveis</h2>
  </div>

  <div class="product-list">
    <div *ngFor="let product of products" class="product-item">
      <label class="product-checkbox">
        <input
          type="checkbox"
          [checked]="product.selected"
          (change)="toggleSelection(product)"
        />
        <span class="custom-checkbox"></span>
      </label>

      <div class="product-details">
        <div class="product-info">
          <p class="product-name">Nome: {{ product.name }} |</p>
          <p class="product-price">
            Custo: <span>R$ {{ formatCost(product.price) }}</span>
          </p>
        </div>
        <div class="product-icon">
          <img
            *ngIf="product.type === 'food'"
            src="assets/svg/categories/food-drink.svg"
            alt="Food icon"
          />
          <img
            *ngIf="product.type === 'drink'"
            src="assets/svg/drink-icon.svg"
            alt="Drink icon"
          />
        </div>
      </div>
    </div>
  </div>
</div>
