<main>
  <h1>Histórico de vendas</h1>

  <div class="last-sales-info">
    <div class="title">
      <h2>Últimas Vendas</h2>
      <h2>Total: R$ {{ totalValue().toFixed(2) }}</h2>
    </div>

    <div class="sales-list">
      <div class="sale-item" *ngFor="let item of sales.slice(0, visibleCount)">
        <p>{{ item.quantity }}× {{ item.product }}</p>
        <p>R$ {{ item.value.toFixed(2) }}</p>
      </div>

      <div class="see-more" *ngIf="visibleCount < sales.length">
        <button (click)="loadMore()">Ver mais</button>
      </div>
    </div>
  </div>
</main>
