<main>
  <h1>Histórico de vendas</h1>

  <div class="last-sells-info">
    <div class="title">
      <h2>Últimas Vendas</h2>
      <!-- usa totalValueFormatted() -->
      <h2>R$ {{ totalValueFormatted() }}</h2>
    </div>

    <div class="sells-container">
      <div class="sells" *ngFor="let item of sales.slice(0, visibleCount)">
        <p>{{ item.quantity }}× {{ item.product }}</p>
        <!-- formata cada item -->
        <p>R$ {{ formatBigNumber(item.value) }}</p>
      </div>

      <div class="see-more" *ngIf="visibleCount < sales.length">
        <button (click)="loadMore()">Ver mais</button>
      </div>
    </div>
  </div>
</main>
