<main>
  <nav>
    <app-arrow [direction]="'left'" [pageToGo]="'/create-products'"></app-arrow>
    <app-home-redirect></app-home-redirect>
  </nav>
  <h1>Adicionar Produtos</h1>
  <app-proguess-bar [progress]="proguess()"></app-proguess-bar>
  <div class="title">
    <h1>Editar Informações</h1>
  </div>
  <div
    class="edit-form"
    *ngFor="let product of selectedProducts; trackBy: trackByProductId"
  >
    <div class="trash-item-title">
      <div class="trashcan">
        <button (click)="openConfirmPopUp(product.id)">
          <img src="assets/svg/trash.svg" alt="" />
        </button>
      </div>
      <div class="item-title">
        <h1>{{product.name}}</h1>
        <img src="" alt="" />
      </div>
    </div>
    <app-edit-product-form [productInfo]="product"></app-edit-product-form>
  </div>

  <app-bottom-arrow
    [direction]="'left'"
    (arrowClick)="redirectBack()"
  ></app-bottom-arrow>
  <app-bottom-arrow
    [direction]="'right'"
    (arrowClick)="redirectFront()"
  ></app-bottom-arrow>
  <br /><br /><br /><br /><br />
  <br /><br /><br /><br /><br />
</main>
<app-confirm-pop-up
  [firstMessage]="'Deseja excluir esse item?'"
  [secondMessage]="'A exclusão removerá o produto da lista de adição.'"
  [isActive]="isConfirmPopUpAtive"
  (closeButtonEvent)="closeConfirmPopUp()"
  (confirm)="confirmProductExclusion()"
  [id]="productExclusionId"
></app-confirm-pop-up>
