<nav>
  <app-arrow [direction]="'left'"></app-arrow>
  <app-home-redirect></app-home-redirect>
</nav>
<main>
  <h1>Adicionar Produtos</h1>
  <app-proguess-bar [progress]="proguess()"></app-proguess-bar>
  <div class="title">
    <h1>Editar Informações</h1>
  </div>
  <div class="trash-item-title">
    <div class="trashcan">
      <button>
        <img src="assets/svg/trash.svg" alt="" />
      </button>
    </div>
    <div class="item-title">
      <h1>Product</h1>
      <img src="" alt="" />
    </div>
  </div>

  <app-edit-product-form></app-edit-product-form>
  <app-bottom-arrow [direction]="'left'"></app-bottom-arrow>
  <app-bottom-arrow [direction]="'right'"></app-bottom-arrow>
</main>
<app-confirm-pop-up></app-confirm-pop-up>
