<app-create-product-form
  [showModal]="showCreateForm"
  (closeModalEvent)="closeCreateForm()"
  [selectedProducts]="selectedProducts"
></app-create-product-form>

<main>
  <nav>
    <div class="itens">
      <app-arrow [direction]="'left'" [pageToGo]="'/home'"></app-arrow>
      <app-home-redirect></app-home-redirect>
    </div>
  </nav>
  <h1>Adicionar Produtos</h1>

  <app-proguess-bar [progress]="currentProgress"></app-proguess-bar>

  <app-search-bar
    [placeholder]="'Buscar produtos'"
    (searchChange)="onSearchChange($event)"
  ></app-search-bar>

  <app-add-product-buttons [buttons]="actionButtons"></app-add-product-buttons>

  <app-available-products
    (hasAnyItemSelected)="hasAnyItemSelected = $event"
    (selectedProducts)="onProductSelection($event)"
    [searchTerm]="searchTerm"
  ></app-available-products>

  <br /><br />
  <br /><br />
  <br /><br />
  <br /><br />
  <app-bottom-arrow
    [direction]="'right'"
    *ngIf="hasAnyItemSelected"
    (arrowClick)="navigateToProductEditing()"
  ></app-bottom-arrow>
</main>
