<app-create-product-form
  [showModal]="showCreateForm"
  (closeModalEvent)="closeCreateFrom()"
></app-create-product-form>

<nav>
  <div class="itens">
    <app-arrow [direction]="'left'" [pageToGo]="''"></app-arrow>
    <app-home-redirect></app-home-redirect>
  </div>
</nav>
<main>
  <h1>Adicionar Produtos</h1>
  <app-proguess-bar [progress]="proguess()"></app-proguess-bar>
  <app-search-bar [placeholder]="'Buscar produtos'"></app-search-bar>
  <app-add-product-buttons [buttons]="buttons"></app-add-product-buttons>
  <app-available-products
    (hasAnyItemSelected)="hasAnyItemSelected = $event"
  ></app-available-products>
  <app-bottom-arrow
    [direction]="'right'"
    *ngIf="hasAnyItemSelected"
    (arrowClick)="openCreateForm()"
  ></app-bottom-arrow>
</main>
